#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.4.1
#
# Configuration properties for the Predix Machine Spillway service
#
# Service_PID = com.ge.dspmicro.hoover.spillway
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.

#
# Add properties here
#

# [Required] A friendly and unique name of the spillway.
com.ge.dspmicro.hoover.spillway.name="DefaultSpillway"

# [Optional] A brief description of the spillway.
com.ge.dspmicro.hoover.spillway.description="Simple modbus and opcua spillway"

# [Required] An array of data subscriptions where the data will come from  
com.ge.dspmicro.hoover.spillway.dataSubscriptions=[ \
  "samplesub1", \
  ]
  
# [Optional] An array of data subscriptions where the data will come from  
 com.ge.dspmicro.hoover.spillway.edgeDataSubscriptions=[ \
  "sampleEdgeTopic", \
 ] 

# [Required] Destination Data River name to where the data will be sent.
# Change to the Data River by replacing the value with: Sender Service
com.ge.dspmicro.hoover.spillway.destination="WS Sender Service"

# [Optional] Type name of data processing logic defined in Processor.
com.ge.dspmicro.hoover.spillway.processType="Workshop"

# [Optional] Type name of StoreForward associated with this spillway.
com.ge.dspmicro.hoover.spillway.storeforward="DefaultStoreForward"


