#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.0
#
# Configuration properties for the Predix Machine WebSocket River Send service
#
# Service_PID = com.ge.dspmicro.websocketriver.send
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.


# [Required] A friendly and unique name of the WebSocket River.
com.ge.dspmicro.websocketriver.send.river.name="WS Sender Service"

# [Required] The URL of the WebSocket server to send to. Must begin with ws:// or wss://
com.ge.dspmicro.websocketriver.send.destination.url="wss://gateway-predix-data-services.run.aws-usw02-pr.ice.predix.io/v1/stream/messages"

# [Required] The name of the header where the zone ID will be inserted
com.ge.dspmicro.websocketriver.send.header.zone.name="Predix-Zone-Id"

# [Required] The zone ID for the TimeSeries service instance
com.ge.dspmicro.websocketriver.send.header.zone.value="f01c1b2f-c09a-4d36-88de-8abf69e15d35"

# [Required] The timeout in milliseconds to wait for a response before assuming a transfer has failed 
com.ge.dspmicro.websocketriver.send.timeout=I"10000"
