#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 16.1.0
#
# Configuration properties for the Predix Machine http client service
#
# Service_PID = com.ge.dspmicro.predixcloud.identity
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.



#
# [Required] The Predix cloud URL of an OAuth2 authorization endpoint. This is the UAA URL for 
# the technician to log into the cloud.
#
com.ge.dspmicro.predixcloud.identity.oauth.authorize.url=""

#
# [Required] Predix Cloud enrollment endpoint url
#
com.ge.dspmicro.predixcloud.identity.uaa.enroll.url=""

#
# [Required] Predix Cloud UAA token endpoint
#
com.ge.dspmicro.predixcloud.identity.uaa.token.url="https://05c69e91-c708-44e3-bb11-689fe2b52fba.predix-uaa.run.aws-usw02-pr.ice.predix.io/oauth/token"

#
# Predix Cloud UAA client credentials
#
com.ge.dspmicro.predixcloud.identity.uaa.clientid="app_client_id"
com.ge.dspmicro.predixcloud.identity.uaa.clientsecret="secret"
com.ge.dspmicro.predixcloud.identity.uaa.clientsecret.encrypted=""

#
# Predix device identity
#
com.ge.dspmicro.predixcloud.identity.deviceid=""

#
# [Optional] Predix cloud upload URL - This is used for uploading configuration command from the device.
# The device id will be appended automatically to the end of the URL if not set.
# When the device is enrolled this value will be set automatically. 
#
com.ge.dspmicro.predixcloud.identity.cloud.upload.url=""

#
# [Optional] Predix cloud Yeti signature URL - The cloud service for validating install packages.
# When the device is enrolled this value will be set automatically. 
#
com.ge.dspmicro.predixcloud.identity.yeti.signature.url=""
